<footer>
<div class="site-footer2">
      <div class="container">
        <div class="row">
        	<div class="col-lg-12 text-center">
            <form method="POST">
  <input type="hidden" name="_to" value="joost@vdschee.nl">
  <input type="hidden" name="_cc" value="jhvanderschee@gmail.com">
  <input type="text" name="_gotcha" style="display: none;">
              <input type="email" placeholder="YOUR EMAIL ADDRESS" /><input type="submit" value="Sign up" />
            </form>
          </div>
        </div>
      </div>
    <div class="footerbar">
      <div class="container">
        <div class="row">
        	<div class="col-lg-12 text-center"><p>Copyright © Monkey Jars 2016 &nbsp;&nbsp;•&nbsp;&nbsp; Created by <a href="http://supremebeing.amsterdam" target="_blank">Supreme Being 21.3</a> &nbsp;&nbsp;•&nbsp;&nbsp; <a href="/privacy">Privacy</a></p></div>
        </div>
      </div>
      </div>
</div>
</footer>

</div>
</div>
</div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ "/js/combined.js" | prepend: site.baseurl }}"></script>
    
    <script>
    //open external links in a new window
    function externalLinks() {
      for(var c = document.getElementsByTagName("a"), a = 0;a < c.length;a++) {
        var b = c[a];
        b.getAttribute("href") && b.hostname !== location.hostname && (b.target = "_blank")
      }
    }
    externalLinks();
    </script>