<!DOCTYPE html>
<html>

  {% include head.html %}

  <body data-spy="scroll" data-target="#navbar" data-offset="182" class="home" onload="if(getParameterByName('url')) setimage('url'); {% assign num_images = page.images | size %}{% if num_images <= 1 %}document.getElementById('controls').style.display='none';{% endif %}">
  <div id="splash"><table cellpadding="0" cellspacing="0"><tr><td><img src="/img/logowhite.png" /></td></tr></table></div>
  <div id="nonsplash">
  <script>document.getElementById('nonsplash').style.display = 'none';</script>
    {% include header.html %}
    <div id="top" class="intro">
        <div class="slider">
          <div id="slide1" class="slide" style="background: url('{{ page.slider[0].image }}') center center no-repeat; background-size: contain;"></div>
          <div id="slide2" class="slide" style="background: url('{{ page.slider[1].image }}') center center no-repeat; background-size: contain;"></div>
          <div id="slide3" class="slide" style="background: url('{{ page.slider[2].image }}') center center no-repeat; background-size: contain;"></div>
        </div>
    </div>


    <div class="light" id="aperitivo">
      <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6"><img src="/img/plant.jpg" style="width: 100%;" /></div>
            <div class="col-lg-6 col-md-6 text-left">

<p><strong>Officieel is Monkey Jars een variëteit van de Nepenthes. Nee,
die naam zegt je vermoedelijk niks. Maar je hebt ongetwijfeld
weleens gehoord van vleesetende planten. Nepenthes is er zo
één. Ze groeien in tropische regenwouden, zoals die op Borneo.
Daar zijn het klimplanten. Ze bereiken met een gemak een
hoogte van wel 15 meter. (Schrik niet: als je Monkey Jars in huis
haalt, hoef je het dak niet uit te bouwen!)</strong></p>
<p>Die planten uit tropische oerwouden worden ook in Nederland
geteeld. Ze groeien in Hollandse kassen onder hoge temperaturen
en in een vochtig klimaat. Voordat een exemplaar van Monkey
Jars in de winkel staat, heeft-ie al twee jaar lang doorgebracht
in de kas. In de gemiddelde huiskamer overleeft-ie met gemak.
Zeker als je niet te zuinig omspringt met de gieter.</p>

<p>LEES MEER</p>

            </div>
          </div>
      </div>
    </div>


    <div class="light" id="verzorging">
      <div class="container" style="padding: 0;">
        <div class="row">
          {% for i in (1..8) %}
            <div class="col-lg-3 col-md-3" style="padding: 0;"><div style="background: url(/img/{{ i }}.png) center center no-repeat; background-size: 130%; background-blend-mode: screen; height: 300px;"><img src="/img/{{ i }}.svg" style="position: absolute; opacity: 0.85; width: 42%; margin-left: -21%; padding-top: 40px; 
              {% if forloop.index == 2 %}width: 46%; margin-left: -23%;{% endif %}
              {% if forloop.index == 3 %}width: 56%; margin-left: -28%;{% endif %}
              {% if forloop.index == 4 %}width: 40%; margin-left: -20%; padding-top: 55px;{% endif %}
              {% if forloop.index == 5 %}padding-top: 60px;{% endif %}
              "/></div></div>
          {% endfor %}
          </div>
      </div>
    </div>


    <div class="light" id="weetjes">
      <div class="container" style="padding: 0;">
        <div class="row">
          <div class="col-lg-3 col-md-3" style="padding-left: 8px;"> 
          {% for fact in site.facts %}
            {% if forloop.index < 5 %}
            <div style="overflow: auto; clear: left; text-align: left;"><div style="font-family: 'Dirty Headline'; font-weight: normal; font-size: 31px; text-align: center; background: url(/img/{{ fact.title }}.png) center center no-repeat; background-size: contain; float: left; width: 100px; height: 100px; padding: 30px 0;">{{ fact.title }}</div><div style="padding-top: 20px; position: relative; right: 10px;">{{ fact.content }}</div></div>
            {% endif %}
          {% endfor %}
          </div>
          <div class="col-lg-3 col-md-3" style="padding-left: 8px;"> 
          {% for fact in site.facts %}
            {% if forloop.index > 4 %}
            <div style="overflow: auto; clear: left; text-align: left;"><div style="font-family: 'Dirty Headline'; font-weight: normal; font-size: 31px; text-align: center; background: url(/img/{{ fact.title }}.png) center center no-repeat; background-size: contain; float: left; width: 100px; height: 100px; padding: 30px 0;">{{ fact.title }}</div><div style="padding-top: 20px; position: relative; right: 10px;">{{ fact.content }}</div></div>
            {% endif %}
          {% endfor %}
          </div>
          <div class="col-lg-6 col-md-6"> 
            <img src="{{ page.slider[0].image }}" style="width: 100%;" />
          </div>
        </div>
      </div>
    </div>






    <div class="light" id="contact">
      <div class="container">
        <div class="row">
            <div class="col-xs-12 text-left">
                
                      <h2 class="post-title editable">Contact</h2>

                      <p style="max-width: 850px;">Elke Monkey Jars komt bij JM Plants vandaan. JM Plants kweekt al meer dan 15 jaar Nepenthes en weten er echt alles van.
Ze telen er niet alleen maar vleesetende planten. Ook in andere mooie grote groene planten is JM Plants gespecialiseerd.</p>
            </div> 
        </div>
        <div class="row" style="padding-top: 10px;">
            <div class="col-lg-9 col-md-9 col-sm-8">                            
                <div id="map" onclick="window.open('https://www.google.nl/maps/place/Ristorante+l\'Ozio/@52.356636,4.8904422,15z/data=!4m2!3m1!1s0x0:0x5babbc63d9f2f904?sa=X&ved=0ahUKEwj8n6Xa3ZPOAhWCrxoKHQHLCGUQ_BIIfDAK');"></div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-4 text-left" style="font-size: 16px; line-height: 1.8em;">{% include contactinfo.html %}</div>
          </div>
      </div>
    </div>


  <div class="bgimage" id="gallery"><div>
      <div class="container text-center">
        <div class="row">
            <div class="col-xs-12 text-left">

                          <h2 class="post-title editable"># monkeyjars</h2>
            </div> 
        </div>

        <div class="row">
        {% for image in page.images %}
          <div class="col-md-2"><a href="{{ page.url | remove: 'index.html' }}?url={{ image.image }}"><img src="//images.weserv.nl/?url=teal-falcon.cloudvent.net{{ image.image }}&w=180&h=180&t=square" /></a></div>
        {% endfor %}
        </div>
      </div>
  </div></div>

<div class="container text-center">
<div class="textrow">There is no business, like monkey business</div>
</div>

   

    {% include footer.html %}
</div>
  </body>

</html>
