<!DOCTYPE html>
<html>

  {% include head.html %}

  <body data-spy="scroll" data-target="#navbar" data-offset="182" class="home" onload="if(getParameterByName('url')) setimage('url'); {% assign num_images = page.images | size %}{% if num_images <= 1 %}document.getElementById('controls').style.display='none';{% endif %}">
  <div id="splash"><table cellpadding="0" cellspacing="0"><tr><td><img src="/img/logowhite.png" /></td></tr></table></div>
  <div id="nonsplash">
  <script>document.getElementById('nonsplash').style.display = 'none';</script>
    {% include header.html %}
    <div id="top" class="intro">
        <div class="slider">
          <div id="slide1" class="slide" style="background: url('{{ page.slider[0].image }}') center center no-repeat; background-size: contain;"></div>
          <div id="slide2" class="slide" style="background: url('{{ page.slider[1].image }}') center center no-repeat; background-size: contain;"></div>
          <div id="slide3" class="slide" style="background: url('{{ page.slider[2].image }}') center center no-repeat; background-size: contain;"></div>
        </div>
    </div>



    <div class="light extras" id="aperitivo">
      <div class="container">
        <div class="row">
          {% for i in (1..8) %}
            <div class="col-lg-3 col-md-3"><div style="background: url(/img/{{ i }}.png) center center no-repeat; background-size: 130%; background-blend-mode: screen;"><img src="/img/{{ i }}.svg" style="opacity: 0.85; margin: 50px 0 100px 0; width: 50%;"/></div></div>
          {% endfor %}
          </div>
      </div>
    </div>


    <div class="light extras" id="aperitivo">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-4"> 
          {% for i in (1..8) %}
            <div style="background: url(/img/{{ i }}.png) center center no-repeat; background-size: contain; float: left;">{{ i }}</div><p>Ssst... die nectar onder het deksel is om insecten te lokken</p>
          {% endfor %}
          </div>
          <div class="col-lg-4 col-md-4"> 
          {% for i in (1..8) %}
            <div style="background: url(/img/{{ i }}.png) center center no-repeat; background-size: contain; float: left;">{{ i }}</div><p>Ssst... die nectar onder het deksel is om insecten te lokken</p>
          {% endfor %}
          </div>
          <div class="col-lg-4 col-md-4"> 
            <img src="{{ page.slider[0].image }}" style="width: 100%;" />
          </div>
        </div>
      </div>
    </div>






    <div class="light" id="contact">
      <div class="container">
      <article>
        <div class="row">
            <div class="col-xs-12">
                
                        <header class="post-header">
                          <h1 class="post-title editable">Contact</h1>
                        </header>
            </div> 
        </div>
        <div class="row" style="padding-top: 10px;">
            <div class="col-lg-1"></div>
            <div class="col-lg-8 col-md-9 col-sm-8">                            
                <div id="map" onclick="window.open('https://www.google.nl/maps/place/Ristorante+l\'Ozio/@52.356636,4.8904422,15z/data=!4m2!3m1!1s0x0:0x5babbc63d9f2f904?sa=X&ved=0ahUKEwj8n6Xa3ZPOAhWCrxoKHQHLCGUQ_BIIfDAK');"></div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-4 text-left" style="font-size: 16px; line-height: 1.8em;">{% include contactinfo.html %}</div>
          </div>
        </article>
      </div>
    </div>


  <div class="bgimage" id="gallery"><div>
      <div class="container text-center">
        <div class="row">
        {% for image in page.images %}
          <div class="col-md-2"><a href="{{ page.url | remove: 'index.html' }}?url={{ image.image }}"><img src="//images.weserv.nl/?url=ozioamsterdam.com{{ image.image }}&w=180&h=180&t=square" /></a></div>
        {% endfor %}
        </div>
      </div>
  </div>

<div class="textrow">There is no business, like monkey business</div>


   

    {% include footer.html %}
</div>
  </body>

</html>
